version: '3'
services:
  camaleao:
    build:
      context: ..
      dockerfile: ./devops/dockerfile
    container_name: camaleaoapi
    environment:
      - ASPNETCORE_ENVIRONMENT=Release
    ports:
      - "5000:5000"
    links:
      - mongodb
    depends_on:
      - "mongodb"      
  
  mongodb:
    image: mongo
    container_name: mongodb
    ports:
      - "27017:27017"
